<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: BoostBrain
  Date: 12.06.17
  Time: 20:33
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                template="WEB-INF/template.xhtml">

    <ui:define name="page_title">
        Page title
    </ui:define>

    <ui:define name="page_body">
        <p:panel>

        </p:panel>
    </ui:define>

</ui:composition>