<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: BoostBrain
  Date: 02.07.17
  Time: 20:23
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
        template="WEB-INF/template.xhtml">
    <ui:define name="page_title">
            Main title
    </ui:define>

    <ui:define name="page_body">
             Main Body
    </ui:define>
</ui:composition>